@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  margin: 0 !important;
  padding: 0 !important;
}

.insetShadow {
  box-shadow: -65px 31px 341px -22px rgba(0, 0, 0, 0.44) inset;
  -webkit-box-shadow: -65px 31px 341px -22px rgba(0, 0, 0, 0.44) inset;
  -moz-box-shadow: -65px 31px 341px -22px rgba(0, 0, 0, 0.44) inset;
}

/* body {
  margin: 0 !important;
  padding: 0 !important;
} */
